<div class="ui message attached icon">
    <i class="close icon" {{action 'backToDev' model}}></i>
    <div class="content">
        <div class="header">
            Edit Developper
        </div>
    </div>
</div>
  <div class="ui form attached fluid segment">

    <div class="two fields">
        <div class="ui fluid labeled input field" data-children-count="1">
            <div class="ui label">
                Identity
            </div>
            <Input type="text" @value={{model.identity}} placeholder="{{model.dev.identity}}" />
        </div>
    </div>

    <div class="two fields">
          <div class="ui fluid labeled input field" data-children-count="1">
              <div class="ui label">
                  Name
              </div>
              <Input type="text" @value={{model.name}} placeholder="{{model.dev.name}}" />
          </div>
      </div>

      <div class="two fields">
          <div class="ui fluid labeled input field" data-children-count="1">
              <div class="ui label">
                  Firstname
              </div>
              <Input type="text" @value={{model.fname}} placeholder="{{model.dev.fname}}" />
          </div>
      </div>

      <div {{action "edit" model}} class="ui submit green button">Edit</div>

  {{#if model.error}}
      <div class="ui inverted red segment">
    <p>All fields are required.</p>
  </div>
  {{/if}}

  </div>

{{outlet}}
