{{outlet}}

<div class="ui segment">
    <LinkTo class="ui green button" style="float:right;" @route="projects.new">Add</LinkTo>

  <h3>Projects List</h3>

<div class="ui segment">
{{#each this.model.projects as |project|}}

{{model.project}}

<table class="ui definition green table">
 <tbody>
   <tr>
     <td class="two wide column">Name</td>
     <td>{{project.name}}</td>
   </tr>
   <tr>
     <td>Description</td>
     <td>{{project.descriptif}}</td>
   </tr>
   <tr>
     <td>Start Date</td>
     <td>{{project.startDate}}</td>
   </tr>
   <tr>
     <td>Due Date</td>
     <td>{{project.dueDate}}</td>
   </tr>

   <tr>
     <td>Owner</td>
     <td>{{project.owner}}</td>
   </tr>

   <tr>
     <td>Actions</td>
     <td>
       <div class="ui vertical animated red button" {{action "confirmDelete" model project}}>
         <div class="hidden content">Delete</div>
         <div class="visible content">
         <i class="trash alternate icon"></i>
         </div>
       </div>



       <LinkTo class="ui vertical animated green button" @route="projects.edit" @model={{project.id}}>
         <div class="hidden content">Edit</div>
         <div class="visible content">
         <i class="edit icon"></i>
         </div>
       </LinkTo>

          {{outlet project.id}}

          <LinkTo class="ui vertical animated green button" @route="projects.stories" @model={{project.id}}>
            <div class="hidden content">Story</div>
            <div class="visible content">
            <i class="list icon"></i>
            </div>
          </LinkTo>
     </td>
   </tr>
 </tbody>
</table>

   {{/each}}
</div>
 <!-- Valider la suppression -->
 <div class="ui modal delete">
   <div class="header">Do you want delete {{model.toDelete.name}} ?</div>
   <div class="content">
     <div class="description">
       <div class="actions">
        <div {{action "remove" model.toDelete}} class="ui green deny button">
              Yes
        </div>
        <div class="ui red deny button">
              No
        </div>
     </div>
   </div>
 </div>
</div>

</div>
