{{outlet}}

<div class="ui segment">
  <h1>{{model.name}}</h1>

<div class="ui segment">
  <h3>Project Informations:</h3>
  <div class="ui divided relaxed horizontal list">
    <div class="item">
      <div class="content">
        <div class="header">Name</div>
        {{model.name}}
        </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Description</div>
        {{model.descriptif}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Start Date</div>
        {{model.startDate}}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Due Date</div>
        {{model.dueDate}}
      </div>
    </div>
</div>
</div>

<div class="ui segment">
<h3>Project Stories:</h3>

{{#each model.stories as |story|}}
<div class="ui green segment">

  <div class="ui massive green label">
    {{story.description}}
  </div>
  {{#each story.tags as |tag|}}
  <div class="ui icon buttons">
    <button class="ui button" style="background-color:{{tag.color}};color:white">
      {{tag.title}}
    </button>
    <button class="ui button" {{action "deleteTagFromStory" tag story.tags story}} style="background-color:{{tag.color}};color:white">
      <i class="delete icon"></i>
    </button>
  </div>
  {{/each}}

  <div {{action 'deleteStory' story model model.stories}} class="ui vertical animated red button" tabindex="0" style="float:right;">
  <div class="hidden content">Delete</div>
  <div class="visible content">
  <i class="close alternate icon"></i>
  </div>
  </div>

  <LinkTo class="ui vertical animated green button" @route="projects.stories.edit" @model={{story.id}} style="float: right;">
    <div class="hidden content">Edit</div>
    <div class="visible content">
    <i class="edit icon"></i>
    </div>
  </LinkTo>

  <LinkTo class="ui vertical animated green button" @route="projects.stories.tags" @model={{story.id}} style="float: right;">
    <div class="hidden content">Add Tag</div>
    <div class="visible content">
    <i class="add icon"></i>
    </div>
  </LinkTo>
  <br>
</div>

<!-- Valider la suppression -->
<div class="ui modal delete">
  <div class="header">Do you want delete {{story.description}} ?</div>
  <div class="content">
    <div class="description">
      <div class="actions">
       <div {{action 'deleteStory' story model model.stories}} class="ui green deny button">
             Yes
       </div>
       <div class="ui red deny button">
             No
       </div>
    </div>
  </div>
</div>
</div>

{{/each}}



<div class="ui divider"/>
<div class="ui grey inverted segment" style="text-align: center;">
  <LinkTo class="ui animated fade green button" tabindex="0" @route="projects.stories.new" @model={{model.id}}>
      <div class="visible content">Add Story</div>
      <div class="hidden content">
        <i class="plus icon"></i>
      </div>
    </LinkTo>

</div>
</div>

</div>
