<div class="ui message attached icon">
    <i class="close icon" {{action 'cancel' model.id model}}></i>
    <div class="content">
        <div class="header">
            Add Tag {{model.story.id}}
        </div>
    </div>
</div>
<div class="ui form attached fluid segment">
  {{#each model.tags as |tag|}}
  <a class="ui label" style="background-color:{{tag.color}}">{{tag.title}} <i class="delete icon"></i> </a>
  {{/each}}
    </div>

<div class="ui bottom attached message">
    <button class="ui button inverted positive icon"><i class="check circle icon"/>
        Validate</button>
    <button class="ui button inverted red icon" {{action 'cancel' model.id model}}>
      <i class="icon times circle outline" /> Cancel</button>
    <LinkTo class="ui button yellow icon" @route="projects.stories.tags.new" @model={{model.story.id}} style="float:right">
      <i class="plus circle icon" />
    Create Tag</LinkTo>
</div>


{{outlet}}
