<div class="ui message attached icon">
    <i class="close icon" {{action 'cancel' model.id model}}></i>
    <div class="content">
        <div class="header">
            Create Tag:
        </div>
    </div>
</div>
<div class="ui form attached fluid segment">
  <div class="two fields">
      <div class="ui fluid labeled input field" data-children-count="1">
          <div class="ui label">
              Title
          </div>
          <Input type="text" @value={{model.title}} placeholder="Title" />
      </div>
  </div>
  <div class="ui labeled input field" data-children-count="1">
      <div class="ui label">
          Color {{model.tag.color}}
      </div>

      {{#ui-dropdown class="ui selection compact" onChange=(action (mut model.tag.color)) as |execute mapper|}}
   <div class="default text">Select</div>
      <i class="dropdown icon"></i>
      <div class="menu">
         {{#each model.colors as |color|}}
            <div data-value={{map-value mapper color}} class="item" style="color:{{color.hexa}}">
               {{color.name}}
            </div>
         {{/each}}
     </div>
{{/ui-dropdown}}

  </div>
    {{#if model.error}}
        <div class="ui inverted red segment">
      <p>All fields are required.</p>
    </div>
    {{/if}}
    </div>


<div class="ui bottom attached message">
    <button class="ui button inverted positive icon" {{action 'addNew' model.title model.tag.color model.id model}}><i class="check circle icon" />
        Validate</button>
    <button class="ui button inverted red icon" {{action 'cancel' model.id model}}><i
            class="icon times circle outline" /> Cancel</button>
</div>

<script>
$(function() {
    $('.ui.dropdown').dropdown();
});
</script>

{{outlet}}
