<div class="ui message attached icon">
    <i class="close icon" {{action 'cancel' model.story.id model}}></i>
    <div class="content">
        <div class="header">
            Create Tag:
        </div>
    </div>
</div>
<div class="ui form attached fluid segment">
  <div class="two fields">
      <div class="ui fluid labeled input field" data-children-count="1">
          <div class="ui label">
              Title
          </div>
          <Input type="text" @value={{model.tag.title}} placeholder="Title" />
      </div>
  </div>
  <div class="ui labeled input field" data-children-count="1">
      <div class="ui label">
          Color
      </div>
<<<<<<< HEAD
      <select {{action 'setColor' model.color model}} class="ui icon dropdown inverted">
                  <option value="#DB2828">
                      {{model.color}}
                  </option>
                  <option value="#F2711C">
                      <p style="color:#F2711C">Orange</p>
                  </option>
                  <option value="#FBBD08">
                      <p style="color:#FBBD08">Yellow</p>
                  </option>
                  <option value="#b5cc18">
                      <p style="color:#b5cc18">Olivee</p>
                  </option>
              </select>
=======

      {{#ui-dropdown class="ui selection compact" onChange=(action (mut model.tag.color)) as |execute mapper|}}
   <div class="default text">Select</div>
      <i class="dropdown icon"></i>
      <div class="menu">
         {{#each model.colors as |color|}}
            <div data-value={{map-value mapper color.hexa}} class="item" style="color:{{color.hexa}}">
               {{color.name}}
            </div>
         {{/each}}
     </div>
      {{/ui-dropdown}}

>>>>>>> master
  </div>
    {{#if model.error}}
        <div class="ui invered red segment">
      <p>All fields are required.</p>
    </div>
    {{/if}}
    </div>


<div class="ui bottom attached message">
    <button class="ui button inverted positive icon" {{action 'addNew' model.tag.title model.tag.color model model.story.id}}><i class="check circle icon" />
        Validate</button>
    <button class="ui button inverted red icon" {{action 'cancel' model.story.id model}}><i
            class="icon times circle outline" /> Cancel</button>
</div>

{{outlet}}
