<div class="ui message attached icon">
    <i class="close icon" {{action 'cancel' model.id model}}></i>
    <div class="content">
        <div class="header">
            Create Tag:
        </div>
    </div>
</div>
<div class="ui form attached fluid segment">
  <div class="two fields">
      <div class="ui fluid labeled input field" data-children-count="1">
          <div class="ui label">
              Title
          </div>
          <Input type="text" @value={{model.title}} placeholder="Title" />
      </div>
  </div>
  <div class="ui labeled input field" data-children-count="1">
      <div class="ui label">
          Color
      </div>
      <select {{action 'setColor' model.color model}} class="ui icon dropdown inverted">
                  <option value="#DB2828">
                      {{model.color}}
                  </option>
                  <option value="#F2711C">
                      <p style="color:#F2711C">Orange</p>
                  </option>
                  <option value="#FBBD08">
                      <p style="color:#FBBD08">Yellow</p>
                  </option>
                  <option value="#b5cc18">
                      <p style="color:#b5cc18">Olive</p>
                  </option>
              </select>
  </div>
    {{#if model.error}}
        <div class="ui inverted red segment">
      <p>All fields are required.</p>
    </div>
    {{/if}}
    </div>


<div class="ui bottom attached message">
    <button class="ui button inverted positive icon" {{action 'addNew' model.title model.color model.id model}}><i class="check circle icon" />
        Validate</button>
    <button class="ui button inverted red icon" {{action 'cancel' model.id model}}><i
            class="icon times circle outline" /> Cancel</button>
</div>

<script>
$(function() {
    $('.ui.dropdown').dropdown();
});
</script>

{{outlet}}
