{{outlet}}

<div class="ui segment">
  <LinkTo class="ui green button" style="float:right;" @route="developers.new">Add</LinkTo>
  <h3>Developers List</h3>

  {{#each model.developers as |developer|}}
    <div class="ui green segment" id="devSegment">
        {{developer.identity}}
        {{developer.name}}
        {{developer.fname}}
          <div {{action "remove" developer}} style="float:right;" class="ui red button">Remove</div>
          <LinkTo class="ui green button" style="float:right;" @route="developers.edit" @model={{developer.id}}>Edit</LinkTo>
          <br>
          <br>
          {{outlet developer.id}}
    </div>
    {{/each}}
</div>


<script>
$(document).ready(function(){
                $('.ui.form')
                    .form({
                        fields: {
                            name: {
                                identifier: 'name',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter the developer name.'
                                    }
                                ]
                            },
                            fname: {
                                identifier: 'fname',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter the developer first name.'
                                    }
                                ]
                            },
                            identity: {
                                identifier: 'identity',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Choose valid pseudo.'
                                    }
                                ]
                            }
                        }
                    })
                ;
            }); /* FUNCTION */
</script>
