{{outlet}}

<div class="ui segment">
  <h3>Developers List</h3>
{{#if model.developers}}
  {{#each model.developers as |developer|}}
    <div class="ui green segment" id="devSegment">
        {{developer.identity}}
        {{developer.name}}
        {{developer.fname}}

          <div {{action "confirmDelete" model developer}} class="ui vertical animated red button" tabindex="0" style="float:right;">
          <div class="hidden content">Delete</div>
          <div class="visible content">
          <i class="trash alternate icon"></i>
          </div>
          </div>

          <LinkTo class="ui vertical animated green button" style="float:right;" @route="developers.edit" @model={{developer.id}}>
            <div class="hidden content">Edit</div>
            <div class="visible content">
            <i class="edit icon"></i>
            </div>
          </LinkTo>
          <br>
          <br>
    </div>

    {{/each}}
    <div class="ui divider"/>
{{else}}
<div class="ui warning message">
  <div class="header">You don't have any developers.</div>
<br>
Click on <a href="/developers/new">Add Developper</a> to add a new developper.</div>

{{/if}}

<div class="ui segment" style="text-align: center;">
  <div {{action "transitionAdd"}} class="ui animated fade green button" tabindex="0">
      <div class="visible content">Add Developper</div>
      <div class="hidden content">
        <i class="plus icon"></i>
      </div>
    </div>

</div>

<!-- Valider la suppression -->
<div class="ui modal delete">
  <div class="header">Do you want delete {{model.toDelete.name}} ?</div>
  <div class="content">
    <div class="description">
      <div class="actions">
       <div {{action "remove" model.toDelete}} class="ui green deny button">
             Yes
       </div>
       <div class="ui red deny button">
             No
       </div>
    </div>
  </div>
</div>
</div>


</div>
