<div class="ui segment">

  <h3>Add Developer</h3>

<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Pseudo</label>
      <Input @value={{model.dev.identity}} name="identity" placeholder="Pseudo" class="ui input"/>
    </div>
    <div class="field">
      <label>Name</label>
      <Input @value={{model.dev.name}} name="name" placeholder="Name" class="ui input"/>
    </div>
    <div class="field">
      <label>First Name</label>
      <Input @value={{model.dev.fname}} name="fname" placeholder="First Name" class="ui input"/>
    </div>
  </div>
  <div class="ui error message"></div>
  <div {{action "addNew" model.dev model.dev.identity model.dev.name model.dev.fname}} id="closeForm" class="ui submit green button">Add</div>

</div> <!-- UI FORM -->
</div>

<div class="ui segment"><h3>Developers List</h3>
  {{#each model.developers as |developer|}}
    <div class="ui green segment" id="devSegment">
        {{developer.identity}}
        {{developer.name}}
        {{developer.fname}}
          <a style="float:right;" class="ui green button" href="/developers/edit">Edit</a>
          <div {{action "remove" developer}} style="float:right;" class="ui red button">Remove</div>
          <br>
          <br>
    </div>
    {{/each}}
</div>


<script>
$(document).ready(function(){
                $('.ui.form')
                    .form({
                        fields: {
                            name: {
                                identifier: 'name',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter the developer name.'
                                    }
                                ]
                            },
                            fname: {
                                identifier: 'fname',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter the developer first name.'
                                    }
                                ]
                            },
                            identity: {
                                identifier: 'identity',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Choose valid pseudo.'
                                    }
                                ]
                            }
                        }
                    })
                ;
            }); /* FUNCTION */
</script>

{{outlet}}
