<div class="ui segment">
<h2>Current projects :</h2>

{{#if this.model.projects}}

{{#each this.model.projects as |project|}}

<div class="ui green segment" id="devSegment">
  <div class="ui divided relaxed horizontal list">
    <div class="item">
      <div class="content">
        <div class="header">Name</div>
        {{project.name}}
        </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Owner</div>
        {{project.owner.name}} {{project.owner.fname}}
        </div>
    </div>
</div>

<LinkTo class="ui vertical animated green button" @route="projects.stories" @model={{project.id}} style="float: right">
  <div class="hidden content">More</div>
  <div class="visible content">
  <i class="eye icon"></i>
  </div>
</LinkTo>
</div>
{{/each}}
{{else}}
<div class="ui warning message">
  <div class="header">You don't have projects in progress.</div>
<br>
Click on <a href="/developers">Developers</a> or <a href="/projects">Projects</a> to add data</div>

{{/if}}
</div>


{{outlet}}
