<div class="ui segment"><h3>Projects List</h3>

{{#each model as |project|}}

<table class="ui definition green table">
 <tbody>
   <tr>
     <td class="two wide column">Name</td>
     <td>{{project.name}}</td>
   </tr>
   <tr>
     <td>Description</td>
     <td>{{project.descriptif}}</td>
   </tr>
   <tr>
     <td>Start Date</td>
     <td>{{project.startDate}}</td>
   </tr>
   <tr>
     <td>Due Date</td>
     <td>{{project.dueDate}}</td>
   </tr>
   <tr>
     <td>Actions</td>
     <td>
       <div class="ui button" id="btnModalDelete">Delete</div>
       <div class="ui button">Edit</div>
       <div class="ui button" id="btnModalStory">Story</div>
     </td>
   </tr>
 </tbody>
</table>

<!-- Valider la suppression -->
<div class="ui modal delete">
  <div class="header">Do you want delete this project ?</div>
  <div class="content">
    <div class="description">
      <div {{action "remove" project}} class="ui green button">Yes</div>
      <div class="ui red button">No</div>
      <!--Button oui => {{action "remove" project}} --> <!-- Button annuler -->
    </div>
  </div>
</div>
   {{/each}}

<!-- Afficher les storys -->
<div class="ui modal story">
  <div class="header">Story</div>
  <div class="content">
    <div class="description">
      Affichage des Story.
    </div>
  </div>
</div>

</div>
<script>
$('#btnModalStory').click(function() {
  $('.ui.modal.story').modal('show');
})
$('#btnModalDelete').click(function() {
  $('.ui.modal.delete').modal('show');
})
$(".ui.modal.story").modal({
		closable: true
	});
</script>
{{outlet}}
