<div class="ui segment"><h3>Projects List</h3>

  <div class="ui form">
    <div class="fields">
      <div class="field">
        <label>Name</label>
        <Input @value={{name}} name="identity" placeholder="Name" class="ui input"/>
      </div>
      <div class="field">
        <label>Descriptif</label>
        <Input @value={{descriptif}} name="name" placeholder="Descriptif" class="ui input"/>
      </div>
      <div class="field">
        <label>Start date</label>
        <Input @value={{startDate}} name="fname" placeholder="Y-M-D" class="ui input"/>
      </div>
      <div class="field">
        <label>Due date</label>
        <Input @value={{dueDate}} name="fname" placeholder="Y-M-D" class="ui input"/>
      </div>
    </div>
    <div class="ui error message"></div>
    <div {{action "addNew" name descriptif startDate dueDate}} id="closeForm" class="ui submit button">Add</div>
  </div> <!-- UI FORM -->

</div>

{{#each model as |project|}}

<table class="ui definition green table">
 <tbody>
   <tr>
     <td class="two wide column">Name</td>
     <td>{{project.name}}</td>
   </tr>
   <tr>
     <td>Description</td>
     <td>{{project.descriptif}}</td>
   </tr>
   <tr>
     <td>Start Date</td>
     <td>{{project.startDate}}</td>
   </tr>
   <tr>
     <td>Due Date</td>
     <td>{{project.dueDate}}</td>
   </tr>
   <tr>
     <td>Actions</td>
     <td>
       <div {{action "remove" project}} class="ui button" id="btnModalDelete">Delete</div>
       <div class="ui button">Edit</div>
       <div class="ui button">Developers</div>
     </td>
   </tr>
 </tbody>
</table>
<div class="ui modal">
  <div class="header">Do you want delete this project ?</div>
  <div class="content">
    <div class="description">
      <!--Button oui => action "remove" --> <!-- Button annuler -->
    </div>
  </div>
</div>
   {{/each}}


</div>
<script>
$('#btnModalDelete').click(function() {
  $('.ui.modal').modal('show');
})
</script>
{{outlet}}
