<div class="ui segment"><h3>Projects List</h3>

  <div class="ui form">
    <div class="fields">
      <div class="field">
        <label>Name</label>
        <Input @value={{name}} name="name" placeholder="Name" class="ui input"/>
      </div>
      <div class="field">
        <label>Descriptif</label>
        <Input @value={{descriptif}} name="description" placeholder="Description" class="ui input"/>
      </div>
      <div class="field">
        <label>Start date</label>
        <Input @value={{startDate}} type="date" name="dateT" placeholder="Y-M-D" class="ui input"/>
      </div>
      <div class="field">
        <label>Due date</label>
        <Input @value={{dueDate}} type="date" name="dateD" placeholder="Y-M-D" class="ui input"/>
      </div>
    </div>
    <div class="ui error message"></div>
    <div {{action "addNew" name descriptif startDate dueDate}} id="closeForm" class="ui submit button">Add</div>
  </div> <!-- UI FORM -->

</div>
<div class="ui segment">
{{#each model as |project|}}

<table class="ui definition green table">
 <tbody>
   <tr>
     <td class="two wide column">Name</td>
     <td>{{project.name}}</td>
   </tr>
   <tr>
     <td>Description</td>
     <td>{{project.descriptif}}</td>
   </tr>
   <tr>
     <td>Start Date</td>
     <td>{{project.startDate}}</td>
   </tr>
   <tr>
     <td>Due Date</td>
     <td>{{project.dueDate}}</td>
   </tr>
   <tr>
     <td>Actions</td>
     <td>
       <div class="ui button" id="btnModalDelete">Delete</div>
       <div class="ui button">Edit</div>
       <div class="ui button" id="btnModalStory">Story</div>
     </td>
   </tr>
 </tbody>
</table>
   {{/each}}
 </div>
 <!-- Valider la suppression -->
 <div class="ui modal delete">
   <div class="header">Do you want delete this project ?</div>
   <div class="content">
     <div class="description">
       <div {{action "remove" project}} class="ui green button">Yes</div>
       <div class="ui red button">No</div>
       <!--Button oui => {{action "remove" project}} --> <!-- Button annuler -->
     </div>
   </div>
 </div>
<!-- Afficher les storys -->
<div class="ui modal story">
  <div class="header">Story</div>
  <div class="content">
    <div class="description">
      Affichage des Story.
    </div>
  </div>
</div>

<script>
$('#btnModalStory').click(function() {
  $('.ui.modal.story').modal('show');
})
$('#btnModalDelete').click(function() {
  $('.ui.modal.delete').modal('show');
})
$(".ui.modal.story").modal({
		closable: true
	});

$(document).ready(function(){
                  $('.ui.form')
                      .form({
                          fields: {
                              name: {
                                  identifier: 'name',
                                  rules: [
                                      {
                                          type   : 'empty',
                                          prompt : 'Please enter the project name.'
                                      }
                                  ]
                              },
                              description: {
                                  identifier: 'description',
                                  rules: [
                                      {
                                          type   : 'empty',
                                          prompt : 'Please enter the description of project.'
                                      }
                                  ]
                              },
                              dateT: {
                                  identifier: 'dateT',
                                  rules: [
                                      {
                                          type   : 'empty',
                                          prompt : 'Please chose a start date'
                                      }
                                  ]
                              },
                              dateD: {
                                  identifier: 'dateD',
                                  rules: [
                                      {
                                          type   : 'empty',
                                          prompt : 'Please chose a due date'
                                      }
                                  ]
                              }
                          }
                      })
                  ;
              });

</script>
{{outlet}}
